@model Recipe
@{
     ViewBag.Title = "View Recipe";

}
        <div class="panel panel-success">
            <div class="panel-body">

                <form class="p-3" asp-action="EditRecipe" method="post">
                    <input type="hidden" asp-for="RecipeId" />
                    <div asp-validation-summary="All"></div>

                    <div class="form-row">
                        <div class="form-group  col-md-1">
                            <label asp-for="RecipeId">Id</label>
                            <input class="form-control" disabled="disabled" asp-for="RecipeId" />
                        </div>
                        <div class="form-group  col-md-11">
                            <label asp-for="Name">Name</label>
                            <input class="form-control" asp-for="Name" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label asp-for="Category">Category</label>
                            <select class="form-control" asp-for="Category">
                                <option value="">--Select--</option>
                                <option value=1>Desserts</option>
                                <option value=2>Main Dishes</option>
                                <option value=3>Miscellaneous</option>
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <label asp-for="Serves">Serves</label>
                            <select class="form-control" asp-for="Serves">
                                <option value="">--Select--</option>
                                <option value=1>1</option>
                                <option value=2>2 </option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Ingredients">Ingredients</label>
                            <textarea class="form-control" rows="10" asp-for="Ingredients"></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Directions">Directions</label>
                            <textarea class="form-control" rows="10" asp-for="Directions"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-primary" asp-action="Index" asp-controller="Home">Cancel</button>
                        <button class="btn btn-danger" asp-action="Delete" asp-controller="Admin">Delete</button>
                    </div>
                </form>
            </div>
        </div>