#allPage {
    padding: 2px;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    background-color: ghostwhite;
}
p {
    background-color: ghostwhite;
    border-radius: 5px;
    border-color: #ced4da;
}

footer {
    background-color: #007BFF;
    color: white;
    padding: 2px;
}

#copyright {
    color: white;
    font-size: x-small;
    padding-left: 2px;
    background-color: #007BFF;
}

h1 {
    background-color: #007BFF;
    color: white;
    padding: 2px;
}
.input-validation-error {
    border-color: red;
    background-color: #fee;
}