#allPage {
    padding: 2px;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    background-color: ghostwhite;
}
p {
    background-color: #e9ecef;
    border-radius: 5px;
    border-color: #ced4da;
}


