<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/boostrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div id="allPage">
        @RenderBody()

        <footer>
            <p id="copyright">
                &copy;&nbsp;&nbsp;Copyright Ederson Cardoso - Comp229 - Fall 2019 - Assignment #2
            </p>
        </footer>
    </div>
</body>
</html>
