@model Recipe

    <tr>
        <td>@Model.RecipeId</td>
        <td>@Model.Name</td>
        <td>@Model.Category</td>
        <td>@Model.Serves</td>
        <td>
            <a class="btn btn-primary" asp-action="ViewRecipe" asp-route-RecipeId=@Model.RecipeId>View</a>
            <a class="btn btn-primary" asp-action="ReviewRecipe" asp-route-RecipeId=@Model.RecipeId>Review</a>
        </td>
    </tr>