
@{
    ViewBag.Title = "Recipes";
}

        <header class="text-center">
            <h1>Best Recipes</h1>
            <h2>Welcome to the best recipes list you have ever seen!</h2>
            <a class="btn btn-primary" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" asp-action="RecipeList">Recipe List</a>
            <a class="btn btn-outline-primary" asp-action="AddRecipe">Add</a>
        </header>
        <br />
        <h4 class="text-center">Here you can add and review recipes per category</h4>
        <p class="text-center"><img src="~/images/background.jpg" height="480" width="320"> </p>