@model Recipe
@{
     ViewBag.Title = "View Recipe";

}
        <header class="text-center">
            <h1>Best Recipes</h1>
            <h2>Seel all details of this delicious</h2>
            <a class="btn btn-outline-primary" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" asp-action="RecipeList">Recipe List</a>
            <a class="btn btn-outline-primary" asp-action="AddRecipe">Add</a>
        </header>

        <div class="panel panel-success">
            <div class="panel-body">

                <form class="p-3" asp-action="AddRecipe" method="post">
                    <div asp-validation-summary="All"></div>

                    <div class="form-row">
                        <div class="form-group  col-md-1">
                            <label asp-for="RecipeId">Id</label>
                            <input class="form-control" disabled="disabled" asp-for="RecipeId" />
                        </div>
                        <div class="form-group  col-md-11">
                            <label asp-for="Name">Name</label>
                            <input class="form-control" disabled="disabled" asp-for="Name" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label asp-for="Category">Category</label>
                            <input class="form-control" disabled="disabled" asp-for="Category" />
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="Rate">Rate</label>
                            <input class="form-control" disabled="disabled" asp-for="Rate" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Ingredients">Ingredients</label>
                            <textarea class="form-control" rows="10" disabled="disabled" asp-for="Ingredients"></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="HowToCook">How to cook</label>
                            <textarea class="form-control" rows="10" disabled="disabled" asp-for="HowToCook"></textarea>
                        </div>
                    </div>
                    @*<div>
                        <img src="~/images/StrawberryAgelFood.jpg" width="465" height="305" />
                    </div>*@
                </form>
            </div>
        </div>