
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RecipeList</title>
    <link rel="stylesheet" href="/lib/boostrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div id="allPage">
        <header class="text-center">
            <h1>Best Recipes</h1>
            <h2>Take a look on your recipe list</h2>


            <a class="btn btn-outline-primary" asp-action="Index">Home</a>
            <a class="btn btn-primary" asp-action="RecipeList">Recipe List</a>
            <a class="btn btn-outline-primary" asp-action="AddRecipe">Add</a>
            <a class="btn btn-outline-primary" asp-action="ViewRecipe">View</a>
            <a class="btn btn-outline-primary" asp-action="ReviewRecipe">Review</a>
        </header>






    </div>
</body>
</html>
