
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RecipeList</title>
    <link rel="stylesheet" href="/lib/boostrap/css/bootstrap.min.css" />
</head>
<body>
    <h1>Recipe List</h1>
    <a class="btn btn-primary" asp-action="Index">Home</a>
</body>
</html>
