@model  Recipe
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReviewRecipe</title>
    <link rel="stylesheet" href="/lib/boostrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div id="allPage">
        <header class="text-center">
            <h1>Best Recipes</h1>
            <h2>Give your opinion about this one</h2>
            <a class="btn btn-outline-primary" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" asp-action="RecipeList">Recipe List</a>
            <a class="btn btn-outline-primary" asp-action="ViewRecipe">View</a>
            <a class="btn btn-primary" asp-action="ReviewRecipe">Review</a>
            <a class="btn btn-outline-primary" asp-action="AddRecipe">Add</a>
        </header>

        <form class="p-3" asp-action="ReviewRecipe" method="post">
            <div asp-validation-summary="All"></div>

            <div class="form-group col-md-3">
                <label asp-for="Rate">Rate</label>
                <select class="form-control" asp-for="Rate">
                    <option value="">--Select--</option>
                    <option value="1">1</option>
                    <option value="2">2 </option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Comment">Comments</label>
                <textarea class="form-control" rows="8" asp-for="Comment"></textarea>
            </div>
            <br />
            <div class="text-right">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>


        </form>
    </div>
</body>
</html>
